rect{
    fill:white;
    stroke:black;
    padding: 20px;
}

.main{
    fill:none;
    stroke:black;
    stroke-width: 2px;
}

.spouse{
    stroke-width: 2px;
    stroke-dasharray: 5;
}

.child{
    stroke-width: 2px;
}

.personification{
    fill:none;
    stroke:black;
}

.monster{
    fill:none;
    stroke:brown;
}

.sky{
    fill:none;
    stroke:blue;
}

.earth{
    fill:none;
    stroke:green;
}

.water{
    fill:none;
    stroke:black;
}

