:root {
  --sea: #394175;
  --sky: #3F81AA;
  --earth: #275031;
  --underworld: #251B38;
  --personification: #FD7037;
  --monster: #FEB131;
  --mortal: #E44A20;
}

html{
    background-color: #FEFFF6;
}

svg{
    overflow: visible;
}

button{
    position:fixed;
	background-color:#0C9;
    stroke: none;
	color:#FFF;
	border-radius:20px;
	text-align:center;
    width:80px;
	height:40px;
}

#controls{
	top:20px;
	left:20px;
}

#redraw{
	top:120px;
	left:20px;
}

#legends{
    top:70px;
	left:20px;
}

text{
    dominant-baseline: middle;
    text-anchor: middle;
    fill:#FEFFF6;
}

.text-monster,.domain-monster{
    fill:#474747;
}

.domain{
    font-size: 12px;
}

rect{
    stroke: none;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.spouse{
    stroke-width: 2px;
    stroke-dasharray: 5;
}

.child{
    stroke-width: 2px;
}

.line-personification{
    fill:none;
    stroke:var(--personification);
}

.personification{
    fill:var(--personification);
}

.line-underworld{
    fill:none;
    stroke:var(--underworld);
}

.underworld{
    fill:var(--underworld)
}

.line-monster{
    fill:none;
    stroke:var(--monster);
}

.monster{
    fill:var(--monster)
}

.line-sky{
    fill:none;
    stroke:var(--sky);
}

.sky{
    fill:var(--sky);
}

.line-earth{
    fill:none;
    stroke:var(--earth);
}

.earth{
    fill:var(--earth);
}

.line-water{
    fill:none;
    stroke:var(--sea);
}

.water{
    fill:var(--sea);
}

.mortal{
    fill:var(--mortal);
}

.line-mortal{
    fill:none;
    stroke:var(--mortal);
}

.line-main{
    fill:none;
    stroke:black;
    stroke-width: 2px;
}

.legendContainer{
    display: flex;
}


.hitbox{
    fill:transparent;
}

.tooltipText{
    fill:#474747;
}

.tooltipRect{
    fill:#FEFFF6;
    stroke: #474747;
}

.caption{
    fill:#474747;
    text-anchor: start;
}
